<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://via.placeholder.com/1280x720/0000FF/808080%20?Text=Digital.com" alt="temp-image">
        <div class="recipe-title-container">
            <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
        </div>
        
        <div class="recipe-author">
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                Juliano Metzker
            </span>
            <span class="recipe-author-item">
                <i class="fas fa-calendar-alt"></i>
                16/03/2022 at 11:30 AM
            </span>
            <span class="recipe-author-item">
                <a href="/recipe/category/cafe-da-manha/">
                    <i class="fas fa-layer-group"></i>
                    <span>Breakfast</span>
                </a>
            </span>
        </div>
        
        <div class="recipe-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae molestiae quia iure cumque dolore placeat laudantium dicta non unde illum quam aliquid nemo eos doloribus vero, nihil esse iusto?</p>
        </div>

        <div class="recipe-meta-caontainer">
            <div class="recipe-meta recipe-preparation">
                <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparation</h3>
                <div class="recipe-meta-text">
                    4 minutes
                </div>
            </div>
            <div class="recipe-meta recipe-servings">
                <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Yield</h3>
                <div class="recipe-meta-text">
                    2 servings
                </div>
            </div>
        </div>    
        <footer class="recipe-footer">
            <a href="/recipe/3/" class="recipe-read-more button button-dark button-full-width">
                <i class="fas fa-eye"></i>
                <span>View more</span>
            </a>
        </footer>
        
        

    </div>
</div>